
/*  */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
body{
  height: 100vh;
  display: grid;
  place-items: center;
}
h2{font-size:2rem}

.card { perspective: 800px;}
.card__content {transform-style: preserve-3d;}
.card:hover .card__content {transform: rotateY(.5turn);}

.card__front,
.card__back { backface-visibility: hidden;}
.card__back{ transform: rotateY(.5turn);}